<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>Spring with Spring Boot, Spring MVC, and Kotlin</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
</head>
<body>

<h2>New Student</h2>

<div>

    <form th:object="${studentForm}" th:action="@{/student}" method="post">
        Student ID:<input type="text" th:field="*{studentId}"/><br/>
        First Name:<input type="text" th:field="*{firstName}"/><br/>
        Last Name:<input type="text" th:field="*{lastName}"/><br/>
        <button type="submit">Submit</button>
    </form>
</div>

</body>
</html>